.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-header h3 {
    width: 100%;
    text-align: center;
}

.contact-header button {
    background: transparent;
    border: unset;
}

.contact-update-situation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border: 2px solid #ddd;
    padding: 12px;
}

.contact-update-situation-action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 12px;
}